.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer_contacts {
    width: 126px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer_contacts a {
    display: flex;
}

.footer_text_description {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #999999;
}

.footer_text_unsubscribe {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #999999;
}

.footer_text {
    margin-bottom: 20px;
}

.footer_copyright {
    padding-top: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #999999;
    border-top: 1px solid #D8D8D8;
}

@media (min-width: 980px) {
    .footer {
        margin-top: 40px;
        margin-bottom: 60px;
        max-width: 520px;
    }
}